---
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.astro";
import img from "../images/vecna-logo-solo-100.png";
import img1 from "../images/index_1.webp";
import img2 from "../images/index_2.webp";
import img3 from "../images/index_3.webp";
import img4 from "../images/index_4.webp";
import { Image } from "@astrojs/image/components";

const data = [
  {
    id: 1,
    imgSrc: img1,
    title: "Pretraga",
    content: "Pretražite sahranjena lica po imenu",
    href: "/pretraga",
    linkLabel: "Pretraga",
  },
  {
    id: 2,
    imgSrc: img2,
    title: "Statistika",
    content: "Interkativna statistika",
    href: "/statistika",
    linkLabel: "Statistika",
  },
  {
    id: 3,
    imgSrc: img3,
    title: "Mapa",
    content: "Pronađite arhivirane lokacija na mapi",
    href: "/mapa",
    linkLabel: "Mapa",
  },
  {
    id: 4,
    imgSrc: img4,
    title: "Indeks",
    content: "Indeks svih arhiviranih lokacija",
    href: "/indeks",
    linkLabel: "Indeks",
  },
];
---

<Layout title="Vecnost - Baza">
  <div class="container mx-auto text-center">
    <Image
      src={img}
      alt="Vecnost logo"
      class="hover:pointer mx-auto object-contain"
      width="90px"
      height="100px"
    />
    <h1 class="mt-5 font-serif text-4xl font-bold text-secondary-dark">
      DOBRODOŠLI!
    </h1>
    <div class="mx-auto my-7 h-1.5 w-32 bg-secondary-dark"></div>
    <div class="mx-auto mb-[3.125rem] w-4/6 text-center text-lg text-gray-600">
      Pred vama je baza podataka sahranjenih lica na teritoriji Republike
      Srbije. <span class="hidden lg:block"></span> Svi podaci su prikupljeni i obrađeni
      ručno od strane Večnosti.
    </div>
  </div>
  <div class="container mx-auto">
    <div class="flex-wrap gap-2 md:flex lg:flex-nowrap lg:gap-5">
      {
        data.map((d) => (
          <Section
            imgSrc={d.imgSrc}
            title={d.title}
            content={d.content}
            href={d.href}
            linkLabel={d.linkLabel}
          />
        ))
      }
    </div>
  </div>
</Layout>
