---
import ResultList from "src/components/Search/ResultList.astro";
import Layout from "src/layouts/Layout.astro";
import type { RegionData, SearchResult } from "src/types";
import SearchBar from "../components/Search/SearchBar";
import { sp } from "../supabase";

const { data: options } = await sp.rpc("region_data");

const ime = Astro.url.searchParams.get("ime") ?? "";
const groblje = Astro.url.searchParams.get("groblje");
const opstina = Astro.url.searchParams.get("opstina");
const okrug = Astro.url.searchParams.get("okrug");
const page = +(Astro.url.searchParams.get("page") || 1);

const from = (page - 1) * 10 || 0;
const to = from + 9;

let query = sp
  .from("persons")
  .select(
    "id, ime, prezime, rodjenje, smrt, groblje!inner(id, name, opstina!inner(id, name, okrug!inner(id,name)))",
    {
      count: "exact",
    }
  )
  .range(from, to);

if (ime && typeof ime === "string" && ime !== "all") {
  query = query.textSearch("fts", ime as string, {
    config: "sr",
    type: "websearch",
  });
}

if (groblje) {
  query = query.eq("groblje.id", groblje);
}
if (opstina) {
  query = query.eq("groblje.opstina.id", opstina);
}
if (okrug) {
  query = query.eq("groblje.opstina.okrug.id", okrug);
}

let results,
  resultCount = null;
if (ime !== undefined && ime !== "") {
  const { data, count } = await query;
  results = data;
  resultCount = count;
}
const pages = Math.ceil(resultCount ?? 1 / 10);
---

<Layout>
  <div class="container mx-auto max-w-3xl">
    <SearchBar
      ime={ime}
      groblje={groblje}
      opstina={opstina}
      okrug={okrug}
      options={options as RegionData[]}
      client:load
    />
    <div class="relative my-5 flex justify-center">
      <ResultList results={results as SearchResult[]} />
    </div>
  </div>
  {
    results && resultCount !== null && resultCount > 10 && (
      <div class="mb-5 flex justify-center">
        <div class="flex justify-between">
          <button
            id="first"
            data-page={1}
            class="flex items-center justify-center px-4  py-2 text-sm font-medium hover:shadow-md disabled:text-gray-300 disabled:hover:shadow-none"
            disabled={page === 1}
          >
            &lt;&lt;
          </button>
          <button
            id="prev"
            data-page={page - 1}
            class="flex items-center justify-center  px-4 py-2 text-sm font-medium hover:shadow-md disabled:text-gray-300 disabled:hover:shadow-none"
            disabled={page === 1}
          >
            &lt;
          </button>
          <div class="flex items-center">
            <span class="text-sm font-medium">
              Strana {page} od {pages}
            </span>
          </div>
          <button
            id="next"
            data-page={page + 1}
            class="flex items-center justify-center  px-4 py-2 text-sm font-medium hover:shadow-md disabled:text-gray-300 disabled:hover:shadow-none"
            disabled={page === pages}
          >
            &gt;
          </button>
          <button
            id="last"
            data-page={pages}
            class="flex items-center justify-center  px-4 py-2 text-sm font-medium hover:shadow-md disabled:text-gray-300 disabled:hover:shadow-none"
            disabled={page === pages}
          >
            &gt;&gt;
          </button>
        </div>
      </div>
    )
  }
</Layout>

<script lang="js">
  const handlePageChange = (e) => {
    const params = new URL(document.location.toString()).searchParams;
    params.set("page", e.currentTarget?.dataset?.page);
    window.history.pushState(
      { ...window.history.state, page: e.currentTarget?.dataset.page },
      ""
    );
    window.location.replace(
      `${document.location.origin}/pretraga?${params.toString()}`
    );
  };

  document.querySelector("#first")?.addEventListener("click", handlePageChange);
  document.querySelector("#prev")?.addEventListener("click", handlePageChange);
  document.querySelector("#next")?.addEventListener("click", handlePageChange);
  document.querySelector("#last")?.addEventListener("click", handlePageChange);
</script>
